#navigation-menu {
  max-width: 230px;
  width: 100%;
  background: rgb(187, 183, 183);
  overflow-wrap: break-word;
}
.title-name {
  padding-left: 20px;
  font-size: 15.9px;
  padding-top: 10px;
  display: flex;
  color: rgb(59, 55, 49);
  text-transform: uppercase;
}
.punct {
  background: rgb(241, 237, 237);
}
.names {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.names span {
  font-size: 14px;
  width: auto;
}
#name-punct {
  padding-bottom: 10px;
  padding-top: 10px;
}
#end-block {
  margin-bottom: 0px;
}
#exit-navigation {
  color: rgb(0, 38, 255);
  font-size: 15px
}
.inf-icon {
  padding-left: 20px;
}
.end-info {
  color: rgb(59, 55, 49);
}
.fas {
  color: rgb(59, 55, 49);
}
.fab {
  color: rgb(59, 55, 49);
  font-size: 1.3rem;
}
.fa-plus-circle {
  font-size: 0.8rem;
}